:root {
    --create-account-page-logo-dimensions: calc(6rem * var(--screen-scale));
    --input-field-background-color: #E7E0E8;
}

/****************** create-account-logo-section ******************/
body>.create-account-or-login-cards-container>.create-account-or-login-card-container>.create-account-or-login-card>.create-account-logo-section {
    padding: calc(3rem * var(--screen-scale));
}

body>.create-account-or-login-cards-container>.create-account-or-login-card-container>.create-account-or-login-card>.create-account-logo-section>.logo {
    background-color: var(--logo-background-color);
    border-radius: 50%;
    width: var(--create-account-page-logo-dimensions);
    height: var(--create-account-page-logo-dimensions);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

body>.create-account-or-login-cards-container>.create-account-or-login-card-container>.create-account-or-login-card>.create-account-logo-section>.logo>.center-rectangular {
    position: absolute;
    background-color: var(--logo-prim-color);
    width: var(--create-account-page-logo-dimensions);
    height: var(--create-account-page-logo-dimensions);
    clip-path: polygon(15% 15%, 85% 15%, 85% 85%, 15% 85%);
}

body>.create-account-or-login-cards-container>.create-account-or-login-card-container>.create-account-or-login-card>.create-account-logo-section>.logo>.center-triangular {
    position: absolute;
    background-color: var(--logo-center-color);
    width: var(--create-account-page-logo-dimensions);
    height: var(--create-account-page-logo-dimensions);
    clip-path: polygon(15% 15%, 50% 85%, 85% 15%);
}

body>.create-account-or-login-cards-container>.create-account-or-login-card-container>.create-account-or-login-card>.create-account-logo-section>.logo-title {
    width: fit-content;
    position: relative;
    left: calc(50% - var(--font-size) * 3);
    font-size: calc(var(--font-size) * 2);
    padding: calc(var(--font-size));
}

@media (max-width: 950px) {
    body>.create-account-or-login-cards-container>.create-account-or-login-card-container {
        padding-top: 3rem;
    }
}