:root {
    --num-of-welcome-page-image: 12;
    --num-of-gaps-between-welcome-page-image: calc(var(--num-of-welcome-page-image) - 1);
    --welcome-page-image-dimension: calc(150px * var(--screen-hight-scale));
    --welcome-page-image-gap: calc(1rem * var(--screen-hight-scale));
    --welcome-page-note-text-color: #948CA0;
    --welcome-page-logo-dimensions: calc(8rem * var(--screen-hight-scale));
    --welcome-page-image-animation-duration: 60s;
}

/************************ Welcome Page > animation-screen*****************************/

body>.animation-screen{
    width: 100vw;
}

body > .animation-screen > .row{
    display: flex;
    gap: var(--welcome-page-image-gap);
    padding: calc(var(--welcome-page-image-gap) * 0.5) 0;
    height: calc(var(--welcome-page-image-dimension) + (var(--welcome-page-image-gap)));
    width: 100vw;
    overflow: hidden;
    position: relative;
}

body > .animation-screen > .row > .image {
    min-width: var(--welcome-page-image-dimension);
    min-height: var(--welcome-page-image-dimension);
    max-width: var(--welcome-page-image-dimension);
    max-height: var(--welcome-page-image-dimension);
    background-color: var(--welcome-page-image-background-color);
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    position: absolute;
}

body>.animation-screen>.row>.image>img{
    min-width: var(--welcome-page-image-dimension);
    min-height: var(--welcome-page-image-dimension);
    max-width: var(--welcome-page-image-dimension);
    max-height: var(--welcome-page-image-dimension);
}

body>.animation-screen>.row>.scroll-left{
    animation: scrollLeft var(--welcome-page-image-animation-duration) linear infinite;
}

body>.animation-screen>.row>.scroll-right{
    animation: scrollRight var(--welcome-page-image-animation-duration) linear infinite;
}

@keyframes scrollLeft {
    from{
        transform:translateX(0);
    }

    to{
        transform: translateX(calc(-1 * (var(--welcome-page-image-gap) * var(--num-of-gaps-between-welcome-page-image) + var(--welcome-page-image-dimension) * var(--num-of-welcome-page-image))));
    }
}

@keyframes scrollRight {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc((var(--welcome-page-image-gap) * var(--num-of-gaps-between-welcome-page-image) + var(--welcome-page-image-dimension) * var(--num-of-welcome-page-image))));
    }
}

/***************** Welcome Page> information-section *******************/

body > .information-section {
    width: 100vw;
    position: relative;
    top: calc(var(--welcome-page-logo-dimensions) * -0.4);
}

body > .information-section > .logo {
    background-color: var(--logo-background-color);
    border-radius: 50%;
    width: var(--welcome-page-logo-dimensions);
    height: var(--welcome-page-logo-dimensions);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

body > .information-section > .logo > .center-rectangular {
    position: absolute;
    background-color: var(--logo-prim-color);
    width: var(--welcome-page-logo-dimensions);
    height: var(--welcome-page-logo-dimensions);
    clip-path: polygon(15% 15%, 85% 15%, 85% 85%, 15% 85%);
}

body > .information-section > .logo > .center-triangular {
    position: absolute;
    background-color: var(--logo-center-color);
    width: var(--welcome-page-logo-dimensions);
    height: var(--welcome-page-logo-dimensions);
    clip-path: polygon(15% 15%, 50% 85%, 85% 15%);
}

body > .information-section> .logo-title,
body>.information-section>.welcome-page-title {
    width: fit-content;
    position: relative;
    left: calc(50% - var(--font-size) * 3);
    font-size: calc(var(--font-size) * 2);
    padding: calc(var(--font-size));
}

body>.information-section>.welcome-page-title{
    left: 50% ;
    width: fit-content;
    transform: translateX(-50%);
    padding: calc(var(--font-size) * 0.5);
    padding: 0 10vw;
    text-align: center;
}

body>.information-section>.welcome-page-note-title {
    position: relative;
    font-size: calc(var(--font-size)*1.3);
    left:50%;
    width: fit-content;
    transform: translateX(-50%);
    color: var(--welcome-page-note-text-color);
    padding: 0 10vw;
    text-align: center;
}

body>.welcome-page-buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    min-width: 31rem;
    width: 40vw;
    position: relative;
    left: 50vw;
    transform: translateX(-50%);
}

body>.welcome-page-buttons>.login,
body>.welcome-page-buttons>.create-account{
    font-size: calc(var(--font-size)*1.3);
    min-width: 15rem;
    width: calc(50% - 0.5rem);
    padding: 0.5rem;;
    border-radius:50px ;
    cursor: pointer;
    border: 1px solid var(--button-color);
}

body>.welcome-page-buttons > .login{
    background-color: var(--button-color);
    color: var(--background-color);
}

body>.welcome-page-buttons>.create-account {
    color: var(--button-color);
    background-color: var(--background-color);
}

body>.welcome-page-buttons>.login:hover,
body>.welcome-page-buttons>.create-account:hover{
    filter: brightness(0.9);
}

body>.welcome-page-buttons>.login:active,
body>.welcome-page-buttons>.create-account:active {
    filter: brightness(0.8);
}

/***************** laptop screens media query styles ****************/
@media screen and (max-Width: 700px ) {
    html{
        line-height: 1.8rem;
    }

    body>.welcome-page-buttons {
        gap: 1rem;
        min-width: 80vw;
        width: 80vw;
    }

    body>.welcome-page-buttons>.login,
    body>.welcome-page-buttons>.create-account {
        min-width: 80vw;
        width: 80vw;
        padding: 0.5rem;
        }

    body>.welcome-page-buttons {
        position: relative;
        top: calc(var(--welcome-page-logo-dimensions) * -0.2);
    }
}

/***************** Create Account Page> create-account-logo-section *******************/
body>.create-account-logo-section >{

}

body>.create-account-logo-section>.logo {
    background-color: var(--logo-background-color);
    border-radius: 50%;
    width: var(--welcome-page-logo-dimensions);
    height: var(--welcome-page-logo-dimensions);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

body>.create-account-logo-section>.logo>.center-rectangular {
    position: absolute;
    background-color: var(--logo-prim-color);
    width: var(--welcome-page-logo-dimensions);
    height: var(--welcome-page-logo-dimensions);
    clip-path: polygon(15% 15%, 85% 15%, 85% 85%, 15% 85%);
}

body>.create-account-logo-section>.logo>.center-triangular {
    position: absolute;
    background-color: var(--logo-center-color);
    width: var(--welcome-page-logo-dimensions);
    height: var(--welcome-page-logo-dimensions);
    clip-path: polygon(15% 15%, 50% 85%, 85% 15%);
}

body>.create-account-logo-section>.logo-title {
    width: fit-content;
    position: relative;
    left: calc(50% - var(--font-size) * 3);
    font-size: calc(var(--font-size) * 2);
    padding: calc(var(--font-size));
}